:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:#FFF;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-top: 8px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

.container{
    margin-left: 30px;
}

/*série principal*/
.serie-principal{
    font-size: 16px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url("../images/capa.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .container{
    width: 70%;
}

.serie-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.serie-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carrosel-series{
    margin-top: 10px;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color:#FFF;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao i{
    margin-right: 8px;
}

.botao:hover{
    background-color: #FFF;
    color: #000;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}