@media screen and (max-width: 800px){
    header .content-left{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin: auto;
    }
    header .content-right{
        display: none;
    }
    .botao{
        margin-top: 10px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 60%;
    }
}